@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", system-ui, serif;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  width: max-content;
  padding: 10px 55px;
  outline: none;
  border: none;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  color: white;
  font-size: 16px;
}

nav {
  width: 100%;
  padding: 15px;
  background: #d9d9d9;
  display: flex;
  justify-content: center;
}

nav > a {
  width: 119px;
  text-align: center;
}

body > h1 {
  margin: 35px auto;
}

.main-container {
  width: 80vw;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}


.panel {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}


.left-panel-3.top {
  width: 100%;
  height: 200px;
  background: #fff4dc;
  border-radius: 20px;
  position: relative;
  display: flex;
}
.left-panel-3.top img {
  position: relative;
  height: max-content;
  top: -30px;
}
.left-panel-3.top .detail-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}
.left-panel-3.top .detail-container h3 {
  font-size: 28px;
  font-weight: 600;
}
.left-panel-3.top .detail-container .teks-container {
  display: flex;
  flex-direction: column;
}
.left-panel-3.top .detail-container button {
  background: #e29a00;
}

.left-panel-3.bottom {
  width: 100%;
  display: flex;
  gap: 50px;
}
.left-panel-3.bottom .left-panel-4 {
  width: 50%;
  height: 450px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.left-panel-3.bottom .left-panel-4 .left-panel-5 {
  width: 100%;
  height: 200px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  position: relative;
}
.left-panel-3.bottom .left-panel-4 .left-panel-5 button {
  position: absolute;
  bottom: 20px;
}
.left-panel-3.bottom .left-panel-4 .left-panel-5.top button {
  background: #7eb782;
}
.left-panel-3.bottom .left-panel-4 .left-panel-5.top {
  background: #e1ffdc;
}
.left-panel-3.bottom .left-panel-4 .left-panel-5.bottom {
  background: #ffced7;
}
.left-panel-3.bottom .left-panel-4 .left-panel-5.bottom button {
  background: #ff5573;
}
.left-panel-3.bottom .left-panel-4.right{
  background: #e2f2ff;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 23px;
}
.left-panel-3.bottom .left-panel-4.right img{
    width: 200px;
    height: 200px;
}
.left-panel-3.bottom .left-panel-4.right h3{
    font-size: 20px;
    font-weight: 600;
}
.left-panel-3.bottom .left-panel-4.right p{
    font-size: 18px;
    text-align: center;
}
.left-panel-3.bottom .left-panel-4.right button{
    background: #3279AF;
}


.right-panel-2{
    width: 100%;
    display: flex;
}
.right-panel-2.top{
    flex-direction: column;
    gap: 20px;
    background: #F4F4F4;
    border-radius: 20px;
    padding: 40px;
}
.right-panel-2.top .right-panel-3{
    width: 100%;
    height: 100px;
    display: flex;
    gap: 20px;
    background: white;
    border-radius: 20px;
    border: 1px solid #D8D6C1;
}
.right-panel-2.top .right-panel-3 img{
    height: 100px;
}
.right-panel-2.top .right-panel-3 .right-panel-detail{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.right-panel-2.top .right-panel-3 h3{
    font-weight: 600;
    font-size: 12px;
}
.right-panel-2.top .right-panel-3 button{
    background: #D8D6C1;
}
.right-panel-2.bottom{
    width: 100%;
    height: 230px;
    justify-content: space-evenly;
    align-items: center;
    background: #F2F2F2;
    border-radius: 20px;
}
.right-panel-2.bottom .right-panel-4{
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.right-panel-2.bottom .right-panel-4 img{
    height: 100%;
}
.right-panel-2.bottom .right-panel-4 .right-panel-detail{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.right-panel-2.bottom .right-panel-4 button{
    padding: 20px 10px;
    border-radius: 15px;
    background: #D8D6C1;
}